.board-cell {
  border: solid 3px black;
  background-color: green;
  height: 3.2em;
  width: 3.2em;
  align-content: center;
  vertical-align: middle;
}

.board-table {
  table-layout: fixed;
}

.board-token {
  height: 3em;
  width: 3em;
  background-color: white;
  border: solid 1px black;
  border-radius: 50%;
  margin:auto;
}

.column {
  float: left;
}

.middle {
  width: 50%;
}

.side {
  width: 25%;
}