.board-container {
  width: 50%;
  margin: auto;
}


.board-cell {
  border: solid 3px black;
  background-color: green;
  height: 3em;
  width: 3em;
  align-content: center;
  vertical-align: middle;
}

.board-token {
  height: 3em;
  width: 3em;
  background-color: white;
  border: solid 1px black;
  border-radius: 50%;
  display:inline-block;
}